body {
  background: #4ea0e8;
  border: 1px solid black;
  background-image: url("https://media.freestocktextures.com/cache/bc/fc/bcfc7b6694542e0da1a6562ee676301e.jpg");
}
header {
  max-width: 500px;
  border:
}
.headerimage {
  max-height:50px;
  display:inline;
}
nav li {
  display:inline;
  padding: 5%;
  width: 32%;
}
nav {
    width: 100%;
    text-align:center;

}
header {
  color:black;
  border: 3px solid red;
  float:clear;
  max-height: 100px;
}

li {
  margin-left: 20px;
}

p {
  font-size: 15px;
  font-family: Arial;
}
img {
  max-width: 100%
}
