
body {
  background: #4ea0e8;
  border: 1px solid black;
}
header {
  max-width: 200px
}

.clear {
  float:clear
}
img {
  max-height:50px;
  display:inline;
}
nav li {
  display:inline;
  padding: 5%;
  width: 32%
}
nav {
    width: 100%;
    text-align:center;

}
header {
  color:black;
  border: 3px solid red;
  float:clear;
  max-height: 100px;
}

body {
  background-image:url(url here); }
}

li {
  margin-left: 20px;
}

p {
  font-size: 15px;
  font-family: Arial;
}
img {
  max-width: 100%
}
